@{
    ViewBag.Title = "Sign in";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApexCare Solutions</title>
    <style>
        .btn-link button:hover {
            background-color: black;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h2>Sign in</h2>

    <form method="post" action="/Home/Login">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        @* Display error message if login fails *@
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="error-message">
                <span>@ViewBag.ErrorMessage</span>
            </div>
        }

        <div class="btn-link">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</body>
</html>
