?@{
    ViewBag.Title = "Register";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApexCare Solutions</title>
    <style>
        .register-button button:hover {
            background-color: black;
        }
    </style>
</head>

<body>
    <h2>Register</h2>

    <form asp-action="Register" asp-controller="Home" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <h6>We never share your email with others</h6>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <h6>Username must be unique</h6>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <h6>Password must be at least 8 characters</h6>
        </div>

        <div class="register-button">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</body>
</html>
